<%= form_with(model: @student, local: true, url: choose_new_or_edit) do |form| %>

  <div class="blog_title">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>
  <div class="blog_content">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>
  <div class="blog_content">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>
  <%= form.submit %>
<% end %>

<%= link_to "Retour à l'acceuil ", students_path%>